@import "tailwindcss";

:root {
  --background: linear-gradient(306deg,rgba(238, 174, 202, 1) 30%, rgba(148, 187, 233, 1) 100%);;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
